<config clipboard="yes">
	<vfs>
		<dir name="dev">
			<dir name="pipe"> <pipe/> </dir>
			<log/>
			<jitterentropy name="entropy"/>
			<xoroshiro name="random" seed_path="/dev/entropy"/>
			<xoroshiro name="urandom" seed_path="/dev/entropy"/>
			<rtc/>
			<oss name="dsp" min_ofrag_size="8192"/>
			<capture/>
			<gpu/>
		</dir>
		<dir name=".config"> <fs label="config -> /"/> </dir>
		<dir name="Downloads"> <fs label="downloads -> /"/> </dir>
		<dir name="shm"> <qtwebengine_shm/> </dir>
		<dir name="socket">
			<lwip dhcp="yes"/>
		</dir>
		<dir name="tmp"> <ram/> </dir>
		<tar name="qt5_dejavusans.tar"/>
		<tar name="qt5_declarative_qml.tar"/>
		<tar name="qt5_libqgenode.tar"/>
		<tar name="qt5_libqsqlite.tar"/>
		<tar name="qt5_libqsvg.tar"/>
		<tar name="qt5_graphicaleffects_qml.tar"/>
		<tar name="qt5_quickcontrols2_qml.tar"/>
		<tar name="qt5_webengine_qml.tar"/>
		<tar name="qt5_webengine_resources.tar"/>
		<tar name="qt5_webengine_translations.tar"/>
		<tar name="ubuntu-ui-toolkit_qml.tar"/>
		<tar name="ubuntu-ui-extras_qml.tar"/>
		<tar name="morph-browser_qml.tar"/>
		<tar name="ubuntu-themes.tar"/>
		<ram/>
	</vfs>
	<libc stdout="/dev/log" stderr="/dev/log" pipe="/dev/pipe" rtc="/dev/rtc" socket="/socket" pid="1">
		<mmap align_log2="21"/>
	</libc>
	<arg value="morph-browser"/>
	<arg value="--single-process"/>
	<arg value="--no-sandbox"/>
	<arg value="--disable-gpu-compositing"/>
	<arg value="--enable-logging"/>
	<arg value="--log-level=3"/>
	<arg value="--v=0"/>
</config>
